

h2{
    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.715);
}
.ul-nav{
    color: #00c493;
    font-weight: bold;
}
li:hover{
    color: #008060;
    cursor: pointer;
}
.li-h2{
    font-size: 0.9em;
    margin-left: 10px;
}

.voltar{
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 9px;
    background-color: rgb(97, 97, 97);
    color: white;
}
.voltar:hover{
    color: white;
    text-decoration: none;
}

.campoForm{
    margin-bottom: 20px;
}

.dobleForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dobleForm .campoForm{
    width: 48%;
}

.combobox{
    padding: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    width: 48%;
}

label strong{
    color: red;
    font-size: 1.2em;
}

.enviar, .atualizar{
    display: block;
    padding: 5px 7px;
    font-size: 1.2em;
    font-weight: bold;
    width: 30vw;
    margin: auto;
    border: none;
    border-radius: 5px;
}
.enviar{
    background-color: var(--cor2);
}
.atualizar{
    background-color: rgb(111, 210, 111);
}
.altSenha{
    font-weight: bold;
    font-size: 1.2em;
}
.imagem-obj{
    width: 30%;
}
.input-img-file{
    display: block;
}

@media screen and (max-width: 768px) {
    .combobox{
        width: 100%;
    }
    .enviar, .atualizar{
        width: 90vw;
    }
    .dobleForm .campoForm{
        width: 100%;
    }
    .ul-nav{
        display: none;
    }
}