@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.erro{
    background-color: rgba(255, 0, 0, 0.386);
    border-left: 7px solid red;
    padding: 5px 10px;
    width: 80%;
    margin: auto;
    font-weight: bold;
    color: rgb(53, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    background-color: #161616ee;
    position: relative;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-image: linear-gradient(to right, #f0f0f0, white); */
    background-color: #ffffff;
    width: 70%;
    min-height: 70vh;
    border-radius: 20px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.408);
}

.formBlock{
    width: 50%;
    height: 100%;
    border-radius: 20px;
}
.formBlock img{
    width: 6vw;
    margin: auto;
    display: block;
}
.imgBlock{
    width: 50%;
    border-right: 2px solid gray;
}
.imgBlock img{
    width: 100%;
}
h2{
    text-align: center;
    font-family: "Merriweather", serif;
    color: rgb(22, 22, 22);
    padding: 3px;
    font-size: 1.2em;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
input{
    padding: 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    width: 50%;
    font-size: 1.2em;
}
button{
    padding: 10px 20px;
    font-size: 1.2em;
    width: 50%;
    border: 2px solid #1a242f;
    border-radius: 10px;
    background-color: rgb(191, 230, 217);
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: rgb(54, 77, 69);
    color: white;
}
form p{
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.password{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
}
.passInp{
    border: none;
    background-color: none !important;
    width: 80%;
    border-radius: 0px;
}



.containerCheck {
    width: 20%;
    --color: #808085;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
    fill: var(--color);
    height: 100%;
  }
  
  .containerCheck .eye {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .containerCheck .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  /* ------ On check event ------ */
  .containerCheck input:checked ~ .eye {
    display: none;
  }
  
  .containerCheck input:checked ~ .eye-slash {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
  }
@media screen and (max-width: 1024px) and (min-width: 768px) {
    main{
        width: 90%;
    }
    .formBlock{
      width: 65%;  
    }
    .imgBlock{
        height: 90%;
    }
    .imgBlock img{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    main{
        width: 95%;
        height: 90%;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .formBlock{
        
        width: 100%;
    }
    .imgBlock{
        display: none;
        width: 100%;
    }
    input, .password{
        width: 90%;
    }
    button{
        width: 90%;
    }
    form p {
        padding: 5px;
    }
}